body {
  max-width: 900px;
  margin: 65px auto;
  background-color: #e3f3fe;
  font-family: "Commissioner", sans-serif;
}

.card-body {
  background-color: #e3f3fe;
  opacity: 0.875;
}

h1 {
  font-size: 26px;
  font-weight: lighter;
  padding-bottom: 25px;
  line-height: 22px;
}
.info p {
  margin-bottom: 0;
}

a {
  font-size: 20px;
}

.date {
  font-weight: lighter;
}

.far {
  font-size: 50px;
}

.large-icon-container {
  color: #8b9dc3;
  font-size: 45px;
  display: block;
  margin: 0 auto;
}

.forecast {
  text-align: center;
  font-weight: 500;
  padding-top: 20px;
}

.today {
  padding-bottom: 33px;
}

.percentages {
  text-align: right;
  font-weight: 300;
  font-size: 14px;
}
.temp-today {
  font-size: 26px;
}
.temp-high-low-today {
  font-weight: 600;
  font-size: 17px;
}
.btn-secondary {
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border: 0.1em solid #1b9df6;
  color: #ffffff;
  background-color: #1b9df6;
  transition: all 0.2s;
  display: block;
}
.btn-secondary:hover {
  background-color: #1d71f2;
  border: 0.1em solid #1d71f2;
}
.btn-success {
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border: 0.1em solid #1d71f2;
  background-color: #1d71f2;
  display: block;
}
